<!DOCTYPE html>
<html>
    <head>
        <title>About2</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>    
<body>
    <div class="main-content">
    {{>header}}
    <p>Created by me</p>
    <img class="portrait" src="/img/me.jpeg">
    </div>

    {{>footer}}
</body>
</html>